
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f7f2; /* bej deschis retro */
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
